.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.small-newsletter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: lightgray;
  padding: 10px;
}
.icon {
  cursor: pointer;
}

.icon:hover {
  filter: brightness(85%);
}

.fire {
  color: red;
}

.water {
  color: blue;
}

.earth {
  color: green;
}

.air {
  color: grey;
}
/* app.css */
.drawerOpen .course-modules {
  /* margin-left: 240px; */
  /* margin-top: 10px; Przykładowy margines górnego obszaru */
  /* padding: 20px; Przykładowy padding dla .course-modules */
  /* transition: margin-left 0.2s; */
}

.drawerClosed .course-modules {
  /* margin-left: 0;
  margin-top: 0;
  padding: 0; */
  /* transition: margin-left 0.2s; */
}
.white-text {
  color: white;
}

.burnAnimation {
  display: none;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.burnButton:hover + .burnAnimation {
  display: block;
}
/* Dodaj do arkusza stylów */
.fireAnimation {
  display: none;
  width: 200px;
  height: 200px;
  position: absolute;
  right: 20px; /* Dopasuj pozycję według potrzeb */
  top: 50px; /* Dopasuj pozycję według potrzeb */
}

.burnButton:hover + .fireAnimation {
  display: block;
}
